body{
    text-align: center;
    background-color: beige;
}
h1{
    font-family: cursive;
    color: rosybrown;
}
a{
    font-family: fantasy;
    color: rosybrown;
}
img{
    width: 400px;
    height: 700px;
    border: 3px;
    border: hotpink;
    border-style: ridge;
    border-radius: 2px;
    border-width: 3px;
}
*{
    border: solid;
    
}
.header{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}